@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Scrollbar sutil */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.7) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.9);
  border-radius: 999px;
}
